.mainmenu{
    display: flex;
    justify-content: space-between;
    background-color: lightcoral;
    height: 75px;
}
.date {
    justify-content: flex-start;
}

.container1{
    display:flex;
}

.box{
    flex: 1;   
}
.box1{
    box-sizing: content-box;
     border: solid blue 10px;
    padding: 5px;
 }
  
.box2{
    box-sizing: content-box;
    border: solid red 10px;
    padding: 5px;
   
}
  
.box3{
    box-sizing: content-box;
    border: solid yellow 10px;
    padding: 5px;    
}

.header{
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-between;
    background-color: rgb(154, 240, 128);
    height: 60px;
    justify-content: center;
}

.image { 
    display: flex;
    height: 300px;
    width: 400px; 
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}
